<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>YogBooking.com</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">YogBooking</a>
      <ul class="right hide-on-med-and-down">
        <li class="collection-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="collection-item"><a href="{% url 'services' %}">Service</a></li>
        <li class="collection-item"><a href="#">Event</a></li>
        <li class="collection-item"><a href="#">Apply</a></li>
        <li class="collection-item"><a href="admin.html">About</a></li>
        <li class="collection-item"><a href="admin.html">Contact</a></li>
        <a class="waves-effect waves-light btn-small" style="border-radius: 30px">book Now</a>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'services' %}">Service</a></li>
        <li><a href="{% url 'events' %}">Event</a></li>
        <li><a href="#">Apply</a></li>
        <li><a href="admin.html">About</a></li>
        <li><a href="admin.html">Contact</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">GouravBlog</h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="{% url 'index' %}">Home</a></li>
            <li><a class="white-text" href="#!">About</a></li>
            <li><a class="white-text" href="#!">Gellery</a></li>
            <li><a class="white-text" href="#!">Contact us</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">

      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
